<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.joycenienkeeveline.connectfour.tudelft.ide.software.appie">

    <!--
    Give app permission to vibrate
    Source: https://stackoverflow.com/questions/13950338/how-to-make-an-android-device-vibrate
    -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".InstructionPageBeforePlay" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SettingsPage" />
        <activity android:name=".HowToPlayPage" />
        <activity android:name=".RankingPage" />
        <activity android:name=".ChooseBitmoji"></activity>
    </application>

</manifest>